.Button__container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  user-select: none;
}

.Button__children {
  background: #151515;
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 204px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 20px;
  font-family: 'Big Shoulders Display', sans-serif;
  transition: text-shadow 0.3s;
}

.Button__arrow {
  background: #d5966c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 56px;
}

.Button__arrow-icon {
  transition: transform 0.3s;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

.Button__container:hover .Button__children {
  text-shadow: 0 0 10px #d5966c;
}

.Button__container:hover .Button__arrow-icon {
  /* transform: translateX(10px); */
  animation: slide 600ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
