.Hero__container {
  /* height: 89vh; */
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 80vh;
}

.Hero__title {
  font-size: 96px;
  font-weight: 700;
}

.Hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  gap: 2rem;
}

.Hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 800px;
  max-width: 100%;
}

.mobile {
  display: none;
}

.Hero__text-container.mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Hero__title.mobile {
  font-size: 60px;
}

@media screen and (max-width: 768px) {
  /* .Hero__container {
    background: unset;
  } */

  .mobile {
    display: flex;
  }
}
